{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div>
        <form role="form" method="POST">
        {% csrf_token %}
        <div class="row">
        {% for field in form %}
              <!-- <fieldset class="form-group"> -->
                <div class="form-group"{% if field.errors %}has-error{% endif %}>
                    <label for="{{ id_for_label }}">
                        <span class="title {% if field.field.required %}required{% endif %}">{{ field.label }}</span>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </label>
                    <br>
                        {{ field|add_class:"form-control" }}
                </div>
              <!-- </fieldset> -->
        {% endfor %}
        </div>
        <div>
            <button class ="btn btn-default" type="submit" >Start a wonderful journey!</button>
        </div>
        </form>
    </div>
{% endblock %}
